.title { 
    margin-top: 100px;
    margin-left: 75px;
    display: "flex";
    flex-direction: "column";
    width: 200px;
    font-family: 'Space Mono', monospace;
    font-size: 35px;
    color: #112D4E;
     }

.circle {
    background-color: #DBE2EF;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    position: relative;
}

.subtitle { 
    margin-left: 75px;
    display: "flex";
    font-family: 'Space Mono', monospace;
     }